name: Release Leneda Asset

on:
  release:
    types: [prereleased, released]

permissions:
  contents: write

jobs:
  zip-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create leneda.zip from Repo
        run: |
          # Creates a zip of the current HEAD, excluding .git files
          git archive --format=zip HEAD:custom_components/leneda/ > leneda.zip

      - name: Upload leneda.zip to Release
        uses: softprops/action-gh-release@v2
        with:
          files: leneda.zip
