name: Tests

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  tests:
    name: Run Tests with Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      
      - name: Install dependencies
        run: |
          pip install -r requirements-test.txt
      
      - name: Run tests with coverage
        run: |
          pytest --cov=custom_components/leneda --cov-report=html
      
      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: html-coverage-report
          path: htmlcov/
          retention-days: 5